.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.todo-item p {
  color: #888;
  text-decoration: line-through;
}

.APP {
  width: 320px;
  border: 1px solid;
  padding: 10px;
}
